# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/
.Rproj.user

# knitted bookdown output
_book/
_bookdown_files/
I2DA.log
*.html
chapters copy/01-00-intro.Rmd
chapters copy/01-01-R-basics.Rmd
chapters copy/02-01-kinds-of-data.Rmd
chapters copy/02-02-data-wrangling.Rmd
chapters copy/02-03-summary-statistics.Rmd
chapters copy/02-04-visualization.Rmd
chapters copy/03-01-probability.Rmd
chapters copy/03-02-models.Rmd
chapters copy/03-03-inference.Rmd
chapters copy/03-04-hypothesis-testing.Rmd
chapters copy/03-05-model-comparison.Rmd
chapters copy/03-06-Bayesian-hypothesis-testing.Rmd
chapters copy/04-01-simple-linear-regression.Rmd
chapters copy/04-02-beyond-simple-regression.Rmd
chapters copy/04-02-logistic-regression.Rmd
chapters copy/04-03-multinomial-regression.Rmd
chapters copy/04-04-ordinal-regression.Rmd
chapters copy/05-05-hierarchical-regression.Rmd
chapters copy/90-app-info-material.Rmd
chapters copy/91-app-prob-distributions.Rmd
chapters copy/92-app-ExpFam-MaxEnt.Rmd
chapters copy/93-00-app-data-sets.Rmd
chapters copy/93-01-Mental-Chronometry.Rmd
chapters copy/93-02-Simon-Task.Rmd
chapters copy/93-03-World-Value-Survey.Rmd
chapters copy/93-04-King-of-France.Rmd
chapters copy/93-05-bio-logic-jazz-metal.Rmd
chapters copy/93-06-avocado-prices.Rmd
chapters copy/99-references.Rmd
chapters copy/_main.Rmd
chapters copy/images/binom-oneLevel.png
chapters copy/images/distributions.png
chapters copy/images/Graph-binom.png
chapters copy/images/Graph-Factorial.png
chapters copy/images/Graph-SimpReg.png
chapters copy/images/hierarchical-model.png
intro-data-analysis.Rproj
visuals/graphs_produced/ch-02-04-avocado-basic.png
visuals/graphs_produced/ch-02-04-avocado-final.png
webppl-editor.js
