/*
    css is taken from Yihui Xie
    https://github.com/rstudio/bookdown/blob/master/inst/examples/css/style.css
*/

/* textbox */
.infobox, .questions, .beware, .research, .overview {
  padding: 1em 1em 1em 3.3em;
  border-radius: 25px;
  border: 3px solid #617177 ;
  margin-bottom: 10px;
  /* font-style: italic; */
  background: #b3c2bf 5px center/3em no-repeat;
  background-position: 3px 3px;
  color: #3b3a36;
}

/* icons taken from: https://useiconic.com/open (MIT License)*/
.infobox {
  background-image: url("./icons/bookmark-8x.png");
  background-position: top left;
}
.example {
  background-image: url("./icons/bookmark-8x.png");
  background-position: top left;
}
.questions {
  padding: 1em 1em 1em 3.7em;
  background-image: url("./icons/question-mark-8x.png");
}
.beware {
  background-image: url("./icons/bolt-8x.png");
}
.research {
  padding: 1em 1em 1em 4em;
  background-image: url("./icons/aperture-8x.png");
}
.overview {
  background-image: url("./icons/eye-8x.png");
  background-position: 2px 0px;
}

/* blockquote mod */
blockquote > p:last-child {
  text-align: right;
}
blockquote > p:first-child {
  text-align: inherit;
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 0.5px;
  color: 'black';
}