/*
    css is taken from Yihui Xie
    https://github.com/rstudio/bookdown/blob/master/inst/examples/css/style.css
*/

/* info-/textbox */
.infobox {
  padding: 1em 1em 1em 3.3em;
  margin-bottom: 10px;
  font-style: italic;
  background: #ccf2ff 5px center/3em no-repeat;
  background-position: left top;
  /* icon taken from: https://useiconic.com/open */
  background-image: url("./icons/bookmark-8x.png");
}

/* blockquote mod */
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
p.flushright {
  text-align: right;
}
blockquote > p:last-child {
  text-align: right;
}
blockquote > p:first-child {
  text-align: inherit;
}